{% include "header.html" %}
<body>
  <div class="container" id = "content"> 
    {% block content %} 
        <h1>Trade1Click</h1>
        <form  method = "post" action = "/">
          <input type="button" onclick="window.location.href='/'" class="btn btn-info" id='script' name="submit" value="Refresh Strikes">
         </form>
      
        {% include "indiceltp.html" %}
        {% include "hero.html" %}
        {% include "buy-sell.html" %}
        {% include "openpositions.html" %}
        {% include "closedpositions.html" %}
        
{% endblock %}
  </div>
</body>

</html>