{% extends "base.html" %}
{% block content %}
<div class="container text-center border-3">
  <div class="row row-cols-3   p-3">
    <div id="buyCall" class=".col">
      <button type="button" class="btn btn-success  btn-lg ">Buy Call</button>
    </div>
    <div id="buyPut" class=".col">
      <button onclick="window.location.href='topblock/'" type="button"  class="btn btn-danger  btn-lg ">Buy Put</button>
    </div>
    <div id="empty" class=".col">
      <button type="button" class="btn btn-info  btn-lg ">Reverse</button>
    </div>
  </div>
</div>
</div>
{% endblock %}